---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

blockquote {
    margin-left: 0.1rem;
}

.archive__item a {
  color: #000;
}

.cond {
  font-size: 90%;
  color: gray;
  font-style: italic;
}

.quote td:nth-child(1) {
  width: 25%;
}

.furnishing{
  font-size: 1.05rem;
  margin: 2em 0 0.5em;
}

.talent, .constell, .outfit, .namecard, .dish{
  font-size: 1.18rem;
  margin: 2em 0 0.5em;
}

mark{
  background-color: #74baffae;
}