---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}



<!-- 캐릭터 -->
{% assign group_index = 0 %}
{% assign sub_categories_size = 0 %}
<div class="card categories">
  <!-- top-category -->
  <div
    id="{{ HEAD_PREFIX }}{{ group_index }}"
    class="card-header d-flex justify-content-between hide-border-bottom"
  >
    <span class="ms-2">
      <i class="far fa-folder fa-fw"></i>

      <a href="/categories/캐릭터/" class="mx-2">캐릭터</a>      
      
    </span>

    <!-- arrow -->
    {% if sub_categories_size > 0 %}
      <a
        href="#{{ LIST_PREFIX }}{{ group_index }}"
        data-bs-toggle="collapse"
        aria-expanded="true"
        aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
        class="category-trigger hide-border-bottom"
      >
        <i class="fas fa-fw fa-angle-down"></i>
      </a>
    {% else %}
      <span data-bs-toggle="collapse" class="category-trigger hide-border-bottom disabled">
        <i class="fas fa-fw fa-angle-right"></i>
      </span>
    {% endif %}
  </div>
  <!-- .card-header --> 
</div>
<!-- .card -->

<!-- 무기 -->
{% assign group_index = group_index | plus: 1 %}
{% assign sub_categories_size = 2 %}
<div class="card categories">
  <!-- top-category -->
  <div
    id="{{ HEAD_PREFIX }}{{ group_index }}"
    class="card-header d-flex justify-content-between hide-border-bottom"
  >
    <span class="ms-2">
      <i class="far fa-folder{% if sub_categories_size > 0 %}-open{% endif %} fa-fw"></i>

      <a href="/categories/무기/" class="mx-2">무기</a>

    </span>

    <!-- arrow -->
    {% if sub_categories_size > 0 %}
      <a
        href="#{{ LIST_PREFIX }}{{ group_index }}"
        data-bs-toggle="collapse"
        aria-expanded="true"
        aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
        class="category-trigger hide-border-bottom"
      >
        <i class="fas fa-fw fa-angle-down"></i>
      </a>
    {% else %}
      <span data-bs-toggle="collapse" class="category-trigger hide-border-bottom disabled">
        <i class="fas fa-fw fa-angle-right"></i>
      </span>
    {% endif %}
  </div>
    <!-- .card-header -->

    <!-- Sub-categories -->

      <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
        <ul class="list-group">

            <li class="list-group-item">
              <i class="far fa-folder fa-fw"></i>
              <a href="/categories/법구/" class="mx-2">법구</a>
            </li>

            <li class="list-group-item">
              <i class="far fa-folder fa-fw"></i>
              <a href="/categories/활/" class="mx-2">활</a>
            </li>

        </ul>
      </div>
</div>
<!-- .card -->
